*{
    margin: 0;
    padding: 0;
    text-decoration: none;   
}

 .image img{
    width:80px;
    height: 70px  
} 

.container{
    display: flex;
}

.sidebar .icon{
    width: 100px;
    height: 20px;
}